{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Lyric Frequency</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
	{% tailwind_css %}
</head>

<body class="bg-slate-900 font-sans leading-normal tracking-normal">
	<div class="w-full">
		<div class="min-h-64 w-96 mx-auto mt-20 rounded-3xl p-6 shadow border bg-gray-800 border-gray-700">
			<form action="../post/" method="POST">
				{% csrf_token %}
				<div class="grid grid-flow-row gap-y-3">
					<h3 class="text-white ">Artist</h3>
					<input placeholder="Artist" name="artist"
						class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
						type="text">
					<h3 class="text-white">Album</h3>
					<input placeholder="Album" name="album"
						class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
						type="text">
					<button type="submit"
						class="w-1/2 text-white mt-10 focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Search</button>

				</div>
			</form>
		</div>
	</div>
</body>

</html>