{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Album Word Disparity</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-slate-900 font-sans leading-normal tracking-normal">
	
	<div class="h-screen w-full p-8 overflow-scroll">
		<div class="sticky z-50 top-8 mr-8 float-right">
			<a href="../get/" class="cursor-pointer bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 text-white py-2 px-4 border border-blue-600 rounded-lg">
				Try another album
			</a>
		</div>
		<h3 class="text-white text-4xl">{{data.album_name}}</h3>
		<img class="w-40 h-40" src="{{data.album_image_url}}"/>
		<h3 class="text-white text-2xl">{{data.artist_name}}</h3>

		<div class="my-4">
			<h3 class="text-gray-300 text-base">Lyrics from:</h3>
			<a class="text-gray-300 text-base" href="{{data.genius_url}}"><u>{{data.genius_url}}</u></a>
		</div>
		
		<div class="mx-auto rounded-3xl p-2 my-8 shadow border bg-gray-800 border-gray-700">
		{% for track in data.tracks %}
			{% if track.graph %}
				<div class="p-2">
					{{ track.graph|safe }}
				</div>
			{% else %}
				<div class="p-2">
					<h3 class="text-white text-xl">
						No lyrics found for: {{ track.track_name}}
					</h3>
				</div>
			{% endif %}
			{% if not forloop.last %}
				<hr  class="block h-[1px] border-t-[1px] mx-4"/>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</body>

</html>