{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Album Word Disparity</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-slate-900 font-sans leading-normal tracking-normal">
	<div class="h-screen w-full">
		<div class="min-h-64 w-96 mx-auto mt-20 rounded-3xl p-6 shadow border bg-gray-800 border-gray-700">
			Here
		</div>
	</div>
</body>

</html>