{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Album Word Disparity</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-slate-900 font-sans leading-normal tracking-normal">
	<div class="h-screen w-full p-8">
		<div class="mx-auto mt-20 rounded-3xl p-6 shadow border bg-gray-800 border-gray-700">
			<h3 class="text-white text-2xl">{{data.artist_name}}</h3>
			<h3 class="text-white text-4xl">{{data.album_name}}</h3>
			<div class="mx-auto mt-4 rounded-3xl p-6 shadow border bg-gray-700 border-gray-600">
				{% for track in data.tracks %}
				<div class="p-2">
					{{ track.graph|safe }}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>

</html>